<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>高円寺番外地</title>
</head>

<body>
<br>
<h1 align="center">高円寺番外地のホームページ</h1>
<div class="main" align="left" style="padding-left: 10%; padding-right: 10%;">
  <img src="../images/flyer_jpn_01.webp" width=100% border="0" align="center"><br>
  <br>
  <h3>NO LIMIT TOKYO 高円寺番外地<br>
  日時　２０２３年９月２２日〜１０月１日 <br>
  場所　高円寺近郊各所</h3>
  <p>アジア圏を中心とした世界地下文化の人々を無責任に高円寺に招待しまくってしまう世界大交流の一大イベント！
１０日間の期間中は、ライブ、DJイベント、展示、ドキュメンタリー上映、トークショー、演劇、飲み会など、音楽・芸術から社会問題まで無数の小イベントが大量発生！！</p>

  <h3>最新情報はこちらまで：</h3>
  <ul>
    <li>X (Twitter): <a href="https://twitter.com/nolimit_koenji">@nolimit_koenji</a></li>
    <li>Instagram: <a href="https://www.instagram.com/nolimit_koenji/">@nolimit_koenji</a></li>
  </ul>
  <mark>#koenji_bangaichi </mark>でイベント情報を検索＆突発的なイベントも見つけよう！SNSで投稿する時もこのハッシュタグで情報共有してね〜

  <h3>★★★ カンパ受付 ★★★</h3>
  <p>大量の海外からのアンダーグラウンド来訪者の面倒をすべて見るので、巨額の赤字が予想されています！　少しでもカンパいただければめちゃくちゃ嬉しいです！！！</p>
  <p>また、トートバッグ、Tシャツなど、番外地グッズを<a href="https://shiroran5.base.shop/">素人の乱５号店オンラインストア</a>で取り扱っています。売り上げはイベントの資金になるのでぜひご検討ください。
  </p>
  <p>
  <b>＜カンパ受付先＞</b><br><br>
  ゆうちょ銀行<br>
  <br>
  記号　11360<br>
  番号　23244441<br>
  名前　タマナハシン<br>
  <br>
  他の金融機関から振込む際は以下の内容をご指定ください<br>
  <br>
  店名　一三八（読み　イチサンハチ）<br>
  店番　138<br>
  預金種目　普通預金<br>
  口座番号　2324444<br>
  <br>
  または下記参加店まで！<br>
  </p>

<!--   <hr style="width:80%">

  <h3 align="center">★★★　最新情報　★★★</h3> -->

  <h4>＜参加店リスト＞</h4>
  <p>
  素人の乱５号店<br>
  TKA4<br>
  SUB STORE<br>
  UPTOWN RECORDS<br>
  DIG A HOLE<br>
  なんとかBAR<br>
  マヌケゲストハウス<br>
  DEVELOPMENT BASE<br>
  三人灯<br>
  笹塚コミューン<br>
  ほか（詳しくはSNSをチェック！）<br>
  </p>
</div>

</body>
</html>
