<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../styles/main.css">
  <title>高円寺番外地</title>
</head>

<body>
<br>
<h1 align="center">高円寺番外地のホームページ</h1>
<div class="main" align="center">
  <img src="../images/flyer_jpn_01.webp" width=80% border="0"><br>
  <br>
  <h3 align="left" style="padding-left: 10%;">NO LIMIT TOKYO 高円寺番外地<br>
  日時　２０２３年９月２２日〜１０月１日 <br>
  場所　高円寺近郊各所</h3>

  <hr style="width:80%">

  <h3>★★★　最新情報　★★★</h3>
  <p>
    coming soon...
  </p>
</div>

</body>
</html>
