<!-- from http://abehiroshi.la.coocan.jp/ -->
<!DOCTYPE html>
<html>
<HEAD>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../styles/main.css">
  <TITLE>メニュー menu</TITLE>
</HEAD>
<BODY bgcolor="#F0F0FF">
<br>
<table border="0" width="142">
  <tr> 
    <td width="15">　</td>
    <td width="10">　</td>
    <td width="148">　</td>
  </tr>
  <tr> 
    <td width="15">　</td>
    <td width="10"><font color="#FFCCCC">●</font></td>
    <td width="148"> 
      <p><a href="home.html" target="right">トップ<br> /home</a></p>
    </td>
  </tr>
  <tr> 
    <td width="15">　</td>
    <td width="10">　</td>
    <td width="148">　</td>
  </tr>
  <tr> 
    <td width="15">　</td>
    <td width="10"><font color="#00FF00">●</font></td>
    <td width="148"> 
      <p><a href="schedule.html" target="right">スケジュール　<br> /schedule</a></p>
    </td>
  </tr>
  <tr> 
    <td width="15">　</td>
    <td width="10">　</td>
    <td width="148">　</td>
  </tr>
  <tr> 
    <td width="15">　</td>
    <td width="10"><font color="#33FFFF">●</font> 
    <td width="148"> 
      <p><a href="participants.html" target="right">出演者情報　<br> /participating artists</a></p>
    </td>
  </tr>
  <tr> 
    <td width="15">　</td>
    <td width="10">　</td>
    <td width="148">　</td>
  </tr>
  <tr> 
    <td width="15">　</td>
    <td width="10"><font color="#0099FF">●</font></td>
    <td width="148"> 
      <p><a href="venues.html" target="right">スペース　<br> /venues</a></p>
    </td>
  </tr>
  <tr> 
    <td width="15">　</td>
    <td width="10">　</td>
    <td width="148">　</td>
  </tr>
  <tr> 
    <td width="15">　</td>
    <td width="10"><font color="#0000FF">●</font></td>
    <td width="148"> 
      <p><a href="info.html" target="right">重要事項　<br> /important info</a></p>
    </td>
  </tr>
  <tr> 
    <td width="15">　</td>
    <td width="10">　</td>
    <td width="148">　</td>
  </tr>
<!--     <tr> 
    <td width="15">　</td>
    <td width="10"><font color="#333399">●</font></td>
    <td width="148"> 
      <p><a href="about.html" target="right">番外地について　<br> /about</a></p>
    </td>
  </tr>
  <tr> 
    <td width="15">　</td>
    <td width="10">　</td>
    <td width="148">　</td>
  </tr>
  <tr> 
    <td width="15">　</td>
    <td width="10"><font color="#CC00CC">●</font></td>
    <td width="148"> 
      <p><a href="contact.html" target="right">contact info</a></p>
    </td>
  </tr>
  <tr> 
    <td width="15">　</td>
    <td width="10">　</td>
    <td width="148">　</td>
  </tr> -->
</table>
</BODY>
</HTML>
