<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href=../static/styles/main.css>
  <link rel="icon" type="image/png" href="../images/logo.png">
  <script type="text/javascript" src="../static/util.js">  </script>
  <title>イベントスケジュール</title>


</head>

<body>
  <div class="container">
    <div w3-include-html="menu.html"></div> 
    <div class="content">
      <button class="openbtn" onclick="openNav()">&#9776;</button>
      <h1 align="center">イベントスケジュール</h1>
      <div class="schedule" align="left" style="padding-left: 10%; padding-right: 10%;">
        <p align="center">以下は暫定的なスケジュールで、詳しく決定次第掲載していきます。</p>

        
        <button class="collapsible">9/22（金） </button>
        <div class="contents">

          <table>
            <tr>
            <td><b>Time</b></td>
            <td><b>Place</b></td>
            <td><b>Event</b></td>
            <td><b>Link</b></td>
          </tr>

            <tr>
              <td>15:00-21:00</td>
              <td>DB</td>
              <td>NO LIMIT前夜祭番外地の夜明け (オープニングパーティ)</td>
              <td></td>
            </tr>
            <!-- Add more rows as needed -->
          </table>

        </div>
        
        <button class="collapsible">9/23（土）</button>
        <div class="contents">
          <table>
            <tr>
              <td><b>Time</b></td>
              <td><b>Place</b></td>
              <td><b>Event</b></td>
              <td><b>Link</b></td>
            </tr> 

            <tr>
              <td>13:00-19:00</td>
              <td>Dig A Hole Zines</td>
              <td>洪十六 (16hon)写真展</td>
              <td><a href="https://www.digaholezines.com" target="_blank" rel="noopener noreferrer"> https://www.digaholezines.com</a></td>
            </tr>
            
            <!-- Add more rows as needed -->
          </table>
        </div>

        <button class="collapsible">9/24（日）</button>
        <div class="contents">
          <table>
            <tr>
              <td><b>Time</b></td>
              <td><b>Place</b></td>
              <td><b>Event</b></td>
              <td><b>Link</b></td>
            </tr>
            <!-- Add more rows as needed -->
          </table>
        </div>

        <button class="collapsible">9/25（月）</button>
        <div class="contents">
          <table>
            <tr>
              <td><b>Time</b></td>
              <td><b>Place</b></td>
              <td><b>Event</b></td>
              <td><b>Link</b></td>
            </tr>
            <!-- Add more rows as needed -->
          </table>
        </div>

        <button class="collapsible">9/26（火）</button>
        <div class="contents">
          <table>
            <tr>
              <td><b>Time</b></td>
              <td><b>Place</b></td>
              <td><b>Event</b></td>
              <td><b>Link</b></td>
            </tr>
            <!-- Add more rows as needed -->
          </table>
        </div>

        <button class="collapsible">9/27（水）</button>
        <div class="contents">
          <table>
            <tr>
              <td><b>Time</b></td>
              <td><b>Place</b></td>
              <td><b>Event</b></td>
              <td><b>Link</b></td>
            </tr>
            <!-- Add more rows as needed -->
          </table>
        </div>

        <button class="collapsible">9/28（木）</button>
        <div class="contents">
          <table>
            <tr>
              <td><b>Time</b></td>
              <td><b>Place</b></td>
              <td><b>Event</b></td>
              <td><b>Link</b></td>
            </tr>
            <!-- Add more rows as needed -->
          </table>
        </div>

        <button class="collapsible">9/29（金）</button>
        <div class="contents">
          <table>
            <tr>
              <td><b>Time</b></td>
              <td><b>Place</b></td>
              <td><b>Event</b></td>
              <td><b>Link</b></td>
            </tr>
            <!-- Add more rows as needed -->
          </table>
        </div>

        <button class="collapsible">9/30（土）</button>
        <div class="contents">
          <table>
            <tr>
              <td><b>Time</b></td>
              <td><b>Place</b></td>
              <td><b>Event</b></td>
              <td><b>Link</b></td>
            </tr>
            <!-- Add more rows as needed -->
          </table>
        </div>

        <button class="collapsible">10/1（日）</button>
        <div class="contents">
          <table>
            <tr>
              <td><b>Time</b></td>
              <td><b>Place</b></td>
              <td><b>Event</b></td>
              <td><b>Link</b></td>
            </tr>
            <!-- Add more rows as needed -->
          </table>
        </div>


      <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;
        for (i = 0; i < coll.length; i++) {
          coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
          if (content.style.maxHeight){
              content.style.maxHeight = null;
          } else {
            content.style.maxHeight = content.scrollHeight + "px";
          } 
        });
       }
      </script>
        
      </div>
    </div>
  </div>

  <script>
  includeHTML();
  </script> 

</body>
</html>
