<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href=../static/styles/main.css>
  <link rel="icon" type="image/png" href="../images/logo.png">
  <script type="text/javascript" src="../static/util.js">  </script>
  <title>スペース</title>
</head>

<body>
  <div class="container">
    <div w3-include-html="menu.html"></div> 
    <div class="content">
      <button class="openbtn" onclick="openNav()">&#9776;</button>
      <h1 align="center">スペース情報</h1>
      <p align="center">
        Under construction
      </p>
    </div>
  </div>
  <script>
  includeHTML();
  </script>  

</body>
</html>
